.app {
  @include display-flex;
  @include  flex-direction(column);
  @include  align-items(center);
}

.head {
  width: auto;
  height: 47px;
  text-shadow: 0 1px 1px #000000;
  color: #ffffff;
  font-family: "Exo20-Thin", serif;
  font-size: 36px;
  font-weight: 100;
  margin: 36px 0 21px 0;
}

.content {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  width: 100%;
}
