.package {
  cursor: pointer;
  height: 509px;
  margin: 0 20px 20px 20px;
  padding: 0;
  width: 320px;
}

.package-border {
  background: linear-gradient(135deg, transparent 31px, #1698d9 0);
  border-radius: 12px;
  height: 480px;
  margin: 0;
  padding: 4px;
  position: relative;
  width: 312px;

  &_default-hover {
    background: linear-gradient(135deg, transparent 31px, #2ea8e6 0);
  }

  &_selected-hover {
    background: linear-gradient(135deg, transparent 31px, #e52e7a 0);
  }

  &_selected {
    background: linear-gradient(135deg, transparent 31px, #d91667 0);
  }

  &_disabled {
    background: linear-gradient(135deg, transparent 31px, #b3b3b3 0);
  }
}

.package-content {
  background: linear-gradient(135deg, transparent 30px, #f2f2f2 0);
  border-radius: 10px;
  height: 480px;
  position: relative;
  width: 312px;

  &_disabled {
    opacity: 0.5;
  }
}

.package-property {
  height: 480px;
  width: 312px;

  &__items {
    color: #666666;
    font-family: 'Trebuchet MS', serif;
    margin: 0 0 0 48px;

    &_head {
      font-size: 16px;
      margin: 0 0 0 48px;
      padding: 21px 0 0 0;
    }

    &_head-hovered {
      color: #e62e7a;
      font-size: 16px;
      margin: 0 0 0 48px;
      padding: 21px 0 0 0;
    }

    &_name {
      color: #000000;
      font-size: 48px;
      font-weight: 700;
      margin: 6px 0 0 48px;
    }

    &_composition {
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 0 48px;
    }

    &_amount {
      font-size: 14px;
      line-height: 16px;
      margin: 15px 0 0 48px;
      width: 127px;
    }
    &_number-amount {
      font-weight: 700;
    }
  }

  &__image {
    background-image: url(../../../assets/images/cat.png);
    bottom: 0;
    height: 272px;
    position: absolute;
    width: 312px;
  }

  &__oval {
    background-color: #1698d9;
    border-radius: 50%;
    bottom: 16px;
    height: 80px;
    position: absolute;
    right: 16px;
    width: 80px;

    &_default-hover {
      background-color: #2ea8e6;
    }

    &_selected-hover {
      background-color: #e52e7a;
    }

    &_selected {
      background-color: #d91667;
    }

    &_disabled {
      background-color: #b3b3b3;
    }
  }

  &__mass {
    color: #ffffff;
    font-family: 'Trebuchet MS', serif;
    font-size: 42px;
    line-height: 30px;
    padding: 14px 0 0 0;
    text-align: center;
    width: 100%;

    &_kg {
      font-size: 21px;
      padding: 0;
    }
  }

  &__bottom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Trebuchet MS', serif;
    margin: 14px 0 0 0;
    text-align: center;
    width: 100%;

    &_disabled {
      color: #ffff66;
    }
  }

  &__bottom-buy {
    color: #1698d9;
    font-weight: 700;
  }
}
