.package {
  width: 328px;
  height: 517px;
  margin: 0 5px 10px 5px;
}

.package-property {
  width: 320px;
  height: 480px;
  border-right: 4px solid #1698d9;
  border-bottom: 4px solid #1698d9;
  border-radius: 14px;
  position: relative;
  background: linear-gradient(135deg, transparent 40px, #f2f2f2 0);

  &:after {
    content: '';
    position: absolute;
    top: 54px;
    height: 430px;
    width: 100px;
    border-left: 4px solid #1698d9;
    border-radius: 0 0 0 12px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 54px;
    height: 100px;
    width: 270px;
    border-top: 4px solid #1698d9;
    border-radius: 0 12px 0 0;
  }

  &__items {
    font-family: "Trebuchet MS", serif;
    margin: 0 0 0 48px;

    &_one {
      color: #666666;
      font-size: 16px;
      margin: 0 0 0 48px;
      padding: 21px 0 0 0;
    }

    &_two {
      color: #000000;
      font-size: 48px;
      font-weight: 700;
      margin: 6px 0 0 48px;
    }

    &_tree {
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 0 48px;
    }

    &_four {
      color: #666666;
      font-size: 14px;
      line-height: 16px;
      margin: 15px 0 0 48px;
    }

    &_five {
      color: #666666;
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 0 48px;
    }
  }

  &__image {
    background-image: url(../images/cat.png);
    width: 314px;
    height: 272px;
    top: -276px;
    left: 4px;
    position: relative;
  }

  &__oval {
    width: 80px;
    height: 80px;
    background-color: #1698d9;
    border-radius: 50%;
    position: relative;
    bottom: 370px;
    right: -228px;
    margin: 0;

  }

  &__up-corner {
    @include transform(rotate(45deg));
    width: 4px;
    height: 76px;
    background-color: #1698d9;
    position: relative;
    bottom: 845px;
    left: 26px;
  }

  &__mass {
    color: #ffffff;
    font-family: "Trebuchet MS", serif;
    font-size: 42px;
    width: 100%;
    text-align: center;
    padding: 14px 0 0 0;
    line-height: 30px;

    &_kg {
      font-size: 21px;
      padding: 0;
    }
  }

  &__bottom {
    color: #ffffff;
    font-size: 13px;
    font-family: "Trebuchet MS", serif;
    position: relative;
    bottom: 410px;
    text-align: center;
  }
}
