.package {
  width: 328px;
  height: 517px;
  margin: 0 5px 10px 5px;
}

.package-property {
  width: 320px;
  height: 480px;
  border: 4px solid #1698d9;
  border-radius: 14px ;
  background-color: #f2f2f2;

  &__items {
    font-family: "Trebuchet MS", serif;
    margin: 0 0 0 48px;

    &_one {
      color: #666666;
      font-size: 16px;
      margin: 21px 0 0 48px;
    }

    &_two {
      color: #000000;
      font-size: 48px;
      font-weight: 700;
      margin: 6px 0 0 48px;
    }

    &_tree {
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 0 48px;
    }

    &_four {
      color: #666666;
      font-size: 14px;
      line-height: 16px;
      margin: 15px 0 0 48px;
    }

    &_five {
      color: #666666;
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 0 48px;
    }
  }

  &__image {
    background-image: url(../images/cat.png);
    width: 314px;
    height: 272px;
    top: 31px;
    position: relative;
  }

  &__oval {
    width: 80px;
    height: 80px;
    background-color: #1698d9;
    border-radius: 50%;
    position: relative;
    bottom: 96px;
    right: -232px;
    margin: 0;

  }

  &__up-corner {
    width: 4px;
    height: 70px;
    background-color: #1698d9;
    position: relative;
    bottom: 576px;
    left: 24px;
    @include transform(rotate(45deg));
  }

  &__mass {
    color: #ffffff;
    font-family: "Trebuchet MS", serif;
    font-size: 42px;
    width: 100%;
    text-align: center;
    padding: 8px 0 0 0;

    &_kg {
      font-size: 21px;
      padding: 0;
    }
  }

  &__bottom {
    color: #ffffff;
    font-size: 13px;
    font-family: "Trebuchet MS", serif;
    position: relative;
    top: -65px;
    text-align: center;
  }
}
