<div class="package">
  <div class="package-property">
    <p class="package-property__items package-property__items_one">Сказочное заморское яство</p>
    <p class="package-property__items package-property__items_two">Нямушка</p>
    <p class="package-property__items package-property__items_tree">с фуа-гра</p>
    <p class="package-property__items package-property__items_four"><span style="font-weight: 700">10</span> порций</p>
    <p class="package-property__items package-property__items_five">мышь в подарок</p>
    <div class="package-property__image"></div>
  </div>
  <div class="package-property__oval">
    <div class="package-property__mass">0,5</div>
    <div class="package-property__mass package-property__mass_kg">кг</div>
  </div>
  <div class="package-property__up--corner"></div>
  <div class="package-property__bottom">Чего сидишь? Порадуй котэ, <span style="font-weight: 700; color: #1698d9">купи.</span></div>
</div>
