<div class="package">
  <div class="package-border">
    <div class="package-content">
      <div class="package-content">
        <div class="package-property">
          <div class="package-property__items package-property__items_one">Сказочное заморское яство</div>
          <div class="package-property__items package-property__items_two">{{ package.name }}</div>
          <div class="package-property__items package-property__items_tree">{{ package.composition }}</div>
          <div class="package-property__items package-property__items_four"><span style="font-weight: 700">{{ package.amount }}</span>
            порций
          </div>
          <div class="package-property__items package-property__items_five">{{ package.present === 1 ? '' :
            package.present }} {{ presents[package.present] }} в подарок
          </div>
          <div class="package-property__image"></div>
          <div class="package-property__oval">
            <div class="package-property__mass">{{ package.mass }}</div>
            <div class="package-property__mass package-property__mass_kg">кг</div>
          </div>
          <div *ngIf="!package.disabled" class="package-property__bottom">Чего сидишь? Порадуй котэ, <span
            style="font-weight: 700; color: #1698d9">купи.</span></div>
          <div *ngIf="package.disabled" class="package-property__bottom package-property__bottom_disabled">Печалька, {{
            package.composition }} закончился.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
